<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon >menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/Main'"> Presentation </a>
      <a mat-button [routerLink]="'/list-produit'"> list-produit </a>
      <a mat-button [routerLink]="'/accounts'"> Accounts </a>
      <a mat-button [routerLink]="'/Ajouter'"> Ajouter produit </a>
      <a mat-button [routerLink]="'/contact'"> Contact </a>

    </div>
  </mat-toolbar-row>


</mat-toolbar>
