h1, p{
    margin-left: 10px;
}
a {
    text-align: center;
}
mat-grid-tile:hover{
    box-shadow:  0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
mat-icon{
    font-size: 100px;
    color: white;
}
mat-icon:hover{
    color:  #C2185B;
}
i{font-size: 100px;}
a{color: white;}
a:link{ color: white;}
i:hover{
    color:  #C2185B;
}

a:active{color: white;}
.z-depth-5 {
    /* box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);*/
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
   }